@use "../../scss/abstracts/" as *;

.intro,
.gallery {
  @include max-width-content;
}

.intro {
  display: grid;
  gap: 2rem;

  @include mq($bp-tablet) {
    grid-template-columns: repeat(40, 1fr);
    gap: 0;
    align-items: center;
  }

  &__image {
    @include mq($bp-tablet) {
      grid-row: 1;
      grid-column: 1 / span 21;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 21.1875rem;
    padding-inline: 1rem;

    @include mq($bp-tablet) {
      grid-row: 1;
      grid-column: 19 / -1;
      gap: 3rem;
    }

    @include mq($bp-desktop) {
      max-width: 21.875rem;
    }
  }
}

.gallery {
  padding: 7.5rem 1rem;

  @include mq($bp-tablet) {
    padding-inline: 2.5rem;
  }

  @include mq($bp-desktop) {
    padding-block: 11.25rem;
  }

  &__container1 {
    display: grid;
    gap: 1.55rem;

    @include mq($bp-tablet) {
      align-items: center;
      grid-template-columns: 5fr 7fr;
      gap: 4.25rem;
    }
  }

  &__image1 {
    @include mq($bp-tablet) {
      grid-area: 1 / 2;
    }
  }

  &__text.text1 {
    @include mq($bp-tablet) {
      grid-area: 1 / 1;
    }
  }

  &__container2 {
    display: grid;
    gap: 1rem;
    margin-top: 2rem;

    @include mq($bp-tablet) {
      align-items: center;
      grid-template-columns: 7fr 5fr;
      gap: 0.7rem;
    }

    @include mq($bp-desktop) {
      gap: 1.87rem;
    }
  }

  &__image2 {
    @include mq($bp-tablet) {
      grid-area: 1 / 1 / 3 / 2;
    }
  }

  &__image3 {
    @include mq($bp-tablet) {
      grid-area: 1 / 2 / 2 / 3;
      align-self: start;
    }
  }

  &__blackTextBox {
    padding: 3rem 1.5rem;
    background-color: $clr-grey-900;

    @include mq($bp-tablet) {
      grid-area: 2 / 2 / 3 / 3;
      align-self: end;
    }

    @include mq($bp-desktop) {
      padding: 3rem;
    }
  }

  &__desc {
    margin-top: 1.5rem;
  }

  @include mq($bp-tablet) {
    margin-top: 2rem;
  }
}
