@use "../../scss/abstracts/" as *;

.modal-button {
  display: flex;
  background-color: transparent;

  &__text {
    background: $clr-grey-900;
    color: $clr-white;
    text-transform: uppercase;
    padding-inline: 2rem;
    padding-block: 1.5rem;
    font-size: 1.25rem;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.22725rem;
  }

  &__arrow {
    display: grid;
    place-content: center;
    padding-block: 1.5rem;
    width: 3.5rem;
    height: 100%;
    background-color: $clr-primary-500;
  }

  &.secondary {
    flex-direction: row-reverse;
  }
}
