@use "../abstracts/" as *;

@font-face {
  font-family: "Outfit";
  font-weight: 0 900;
  src: url("/assets/fonts/Outfit/Outfit-VariableFont_wght.ttf");
}

@font-face {
  font-family: "BigShouldersDisplay";
  font-weight: 0 900;
  src: url("/assets/fonts/Big_Shoulders_Display/BigShouldersDisplay-VariableFont_wght.ttf");
}

body {
  font: 300 1.125rem / 1.75rem "Outfit", sans-serif;
  color: $clr-grey-500;
}

:where(h1, h2, h3, h4, h5, h6, button) {
  font-family: "BigShouldersDisplay";
  font-weight: 900;
  color: $clr-grey-900;
  text-transform: uppercase;
}

:where(a) {
  color: inherit;
  text-decoration: none;
}

.intro {
  &__title {
    font-size: 3.5rem;
    line-height: 3.4375rem;

    @include mq($bp-desktop) {
      font-size: 6rem;
      line-height: 5.5rem;
      color: $clr-white;
    }
  }

  &__desc {
    @include mq($bp-desktop) {
      font-size: 1.375rem;
      line-height: 2rem;
    }
  }
}

.gallery {
  &__title {
    font-size: 3.125rem;
    line-height: 2.8125rem;
    text-transform: uppercase;

    @include mq($bp-desktop) {
      font-size: 3.75rem;
      line-height: 3.75rem;
    }
  }

  &__desc {
    @include mq($bp-tablet) {
      font-size: 1.375rem;
      line-height: 2rem;
    }
  }

  &__blackTextBox,
  &__blackTextBox h2 {
    color: $clr-white;
  }
}

.location {
  color: $clr-white;

  @include mq($bp-desktop) {
    font-size: 1.375rem;
    line-height: 2rem;
  }

  &__title {
    color: $clr-white;
    font-size: 3.125rem;
    line-height: 2.8125rem;
    text-transform: uppercase;

    @include mq($bp-desktop) {
      font-size: 4.375rem;
      line-height: 4.375rem;
    }
  }

  &__street {
    color: $clr-primary-500;
    font-family: "BigShouldersDisplay";
    font-size: 2rem;
    font-weight: 900;
    line-height: 2rem;
    text-transform: uppercase;

    @include mq($bp-desktop) {
      font-size: 2.25rem;
      line-height: 2.25rem;
    }
  }
}

.footer {
  color: $clr-white;

  .colored & {
    color: $clr-grey-900;
  }

  &__desc {
    font-size: 1rem;
    line-height: 1.625rem;

    @include mq($bp-tablet) {
      font-size: 1.125rem;
      line-height: 1.75rem;
    }
  }
}
