@use "../../scss/abstracts/" as *;

.location-bg {
  background-color: $clr-grey-900;
}

.location {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem 1rem 3.5rem;
  @include max-width-content;

  @include mq($bp-tablet) {
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
    padding: 5.5rem 2.5rem 5rem;
  }

  @include mq($bp-desktop) {
    padding-block: 6.5rem 8rem;
  }

  &__title {
    @include mq($bp-tablet) {
      max-width: 13.9375rem;
    }
  }

  &__text {
    max-width: 25rem;

    @include mq($bp-desktop) {
      max-width: 33.75rem;
    }
  }

  &__street {
    margin-bottom: 1.25rem;
  }

  &__desc {
    margin-top: 1.25rem;
  }

  & span {
    display: block;
  }
}
