@use "../../scss/abstracts/" as *;

#map {
  z-index: 1;
  grid-area: 1 / 1;

  width: 100%;
  aspect-ratio: 3/4;

  @include mq($bp-tablet) {
    aspect-ratio: 1/1;
  }

  @include mq($bp-desktop) {
    aspect-ratio: 5/2;
  }
}
